extends layout

block content
    .page
        .pageHeading
            span.heading categories
            span.subheading
                a(href="/calendar/categories").link #{pageData.dDate}
                    span.glyphicon.glyphicon-chevron-right
        .pageContent
            canvas#canvas(height="500px", width="500px")
            table.table.table-condensed.table-striped#doughnutTable
                if pageData.exerciseOn
                    tr
                        td
                            .color(style='background-color: #F7464A;')
                        td.percent #{pageData.exercisePercent}%
                        td.category.Ta-start Exercise
                        td.category.Ta-start
                            a(href="/details/category/exercise").link
                                span.glyphicon.glyphicon-list
                if pageData.workOn
                    tr
                        td
                            .color(style='background-color: #46BFBD;')
                        td.percent #{pageData.workPercent}%
                        td.category.Ta-start Job
                        td.category.Ta-start
                            a(href="/details/category/work").link
                                span.glyphicon.glyphicon-list
                if pageData.entertainmentOn
                    tr
                        td
                            .color(style='background-color: #FDB45C;')
                        td.percent #{pageData.entertainmentPercent}%
                        td.category.Ta-start Entertainment
                        td.category.Ta-start
                            a(href="/details/category/entertainment").link
                                span.glyphicon.glyphicon-list
                if pageData.schoolOn
                    tr
                        td
                            .color(style='background-color: #949FB1;')
                        td.percent #{pageData.schoolPercent}%
                        td.category.Ta-start School
                        td.category.Ta-start
                            a(href="/details/category/school").link
                                span.glyphicon.glyphicon-list
                if pageData.socialOn
                    tr
                        td
                            .color(style='background-color: #6495ED;')
                        td.percent #{pageData.socialPercent}%
                        td.category.Ta-start Social
                        td.category.Ta-start
                            a(href="/details/category/social").link
                                span.glyphicon.glyphicon-list
                if pageData.errandsOn
                    tr
                        td
                            .color(style='background-color: #4D5360;')
                        td.percent #{pageData.errandsPercent}%
                        td.category.Ta-start Errands
                        td.category.Ta-start
                            a(href="/details/category/errands").link
                                span.glyphicon.glyphicon-list    
                if pageData.familyOn
                    tr
                        td
                            .color(style='background-color: #7CCD7C;')
                        td.percent #{pageData.familyPercent}%
                        td.category.Ta-start Family
                        td.category.Ta-start
                            a(href="/details/category/family").link
                                span.glyphicon.glyphicon-list       
                if pageData.otherOn
                    tr
                        td
                            .color(style='background-color: #7171C6;')
                        td.percent #{pageData.otherPercent}%
                        td.category.Ta-start Other
                        td.category.Ta-start
                            a(href="/details/category/other").link
                                span.glyphicon.glyphicon-list
            .stat.Fz-xs.Ta-start
                span.glyphicon.glyphicon-info-sign.Mend-4
                span This doughnut graph shows the balance between all of your activities based on your category labels.

    script.
        var exerciseGraph = #{pageData.exerciseOn} ? #{pageData.exerciseGraph} : 0;
        var workGraph = #{pageData.workOn} ? #{pageData.workGraph} : 0;
        var entertainmentGraph = #{pageData.entertainmentOn} ? #{pageData.entertainmentGraph} : 0;
        var schoolGraph = #{pageData.schoolOn} ? #{pageData.schoolGraph} : 0;
        var socialGraph = #{pageData.socialOn} ? #{pageData.socialGraph} : 0;
        var errandsGraph = #{pageData.errandsOn} ? #{pageData.errandsGraph} : 0;
        var familyGraph = #{pageData.familyOn} ? #{pageData.familyGraph} : 0;
        var otherGraph = #{pageData.otherOn} ? #{pageData.otherGraph} : 0;

        var doughnutData = [
                {
                    value: exerciseGraph,
                    color:"#F7464A"
                },
                {
                    value : workGraph,
                    color : "#46BFBD"
                },
                {
                    value : entertainmentGraph,
                    color : "#FDB45C"
                },
                {
                    value : schoolGraph,
                    color : "#949FB1"
                },
                {
                    value : socialGraph,
                    color : "#6495ED"
                },
                {
                    value : errandsGraph,
                    color : "#4D5360"
                },
                {
                    value : familyGraph,
                    color : "#7CCD7C"
                },
                {
                    value : otherGraph,
                    color : "#7171C6"
                }
            
            ];

        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);

        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');

        function resize() {
            // Our canvas must cover full height of screen
            // regardless of the resolution
            var width = window.innerWidth - 50;
            
            // So we need to calculate the proper scaled width
            // that should work well with every resolution
            var ratio = canvas.height/canvas.width;
            var height = width * ratio;

            if (width > 500 || height > 500) {
                width = 500;
                height = 500;
            }
            
            canvas.style.width = width+'px';
            canvas.style.height = height+'px';
        }

        window.addEventListener('load', resize, false);
        window.addEventListener('resize', resize, false);