extends layout

block content
    .page
        .pageHeading
            span.heading history
            span.subheading= category
        .pageContent.activityList.Ta-start
            - each detail in pageData.detailList
                .activityItem 
                    .activityInfo
                        .row
                            .col-xs-12.activityName #{detail.activity}
                        .row.Mb-10.Fz-s
                            .col-xs-5.Ta-end.Fw-b Date:
                            .col-xs-7.activityDate #{detail.parsedDate}
                            .col-xs-5.Ta-end.Fw-b Duration:
                            .col-xs-7.activityDuration #{detail.durationTime} #{detail.durationStr}
                            .col-xs-5.Ta-end.Fw-b Category:
                            .col-xs-7.activityCategory #{detail.category}
                            .col-xs-5.Ta-end.Fw-b Work/Play:
                            .col-xs-7.activityWorkPlay #{detail.workplay}
                            .col-xs-5.Ta-end.Fw-b.Hidden activityID
                            .col-xs-7.activityID.Hidden #{detail.activityID}

                        .row
                            .col-xs-5.col-xs-offset-7.Ta-end
                                //instead of the links you can listen to these glyphs for action
                                a(href="/details?category=" + category).editActivity
                                    span.link.glyphicon.glyphicon-pencil 
                                a(href="/details?category=" + category).deleteActivity
                                    span.link.glyphicon.glyphicon-trash
                    .activityEditFields.Hidden
                        form(action='/edit', method='post', role='form')
                            .row.Mb-10
                                .col-xs-12
                                    input.form-control(type='text', name='activity', id='activityID*name', value='#{detail.activity}')
                            .row.Mb-10.Fz-s
                                .col-xs-5.Ta-end.Fw-b.Ta-v Date:
                                .col-xs-7.activityDate 
                                    input.form-control(type='date', name='date', id='activityID*date', value='#{detail.date}')
                            .row.Mb-10.Fz-s
                                .col-xs-5.Ta-end.Fw-b Duration:
                                .col-xs-7.activityDuration
                                    input.form-control(type='number', min='1', name='duration', id='duration', value='#{detail.durationTime}')
                                .col-xs-7.col-xs-offset-5.activityDurationUnit
                                    select.form-control(type='select', name='timeUnit', id='timeUnit')
                                        if detail.durationStr === 'minutes'
                                            option#minuteOption(selected) minutes
                                        else
                                            option#minuteOption minutes
                                        if detail.durationStr === 'hours'
                                            option#hourOption(selected) hours
                                        else
                                            option#hourOption hours
                            .row.Mb-10.Fz-s
                                .col-xs-5.Ta-end.Fw-b Category:
                                .col-xs-7.activityCategory
                                    select.form-control(type='select', name='category', id='activityID*category')
                                        if pageData.workOn
                                            if detail.category === 'Job'
                                                option(selected) Job
                                            else
                                                option Job
                                         if pageData.exerciseOn
                                            if detail.category === 'Exercise'
                                                option(selected) Exercise
                                            else
                                                option Exercise
                                         if pageData.entertainmentOn
                                            if detail.category === 'Entertainment'
                                                option(selected) Entertainment
                                            else
                                                option Entertainment
                                         if pageData.schoolOn
                                            if detail.category === 'School'
                                                option(selected) School
                                            else
                                                option School
                                         if pageData.socialOn
                                            if detail.category === 'Social'
                                                option(selected) Social
                                            else
                                                option Social
                                         if pageData.errandsOn
                                            if detail.category === 'Errands'
                                                option(selected) Errands
                                            else
                                                option Errands
                                         if pageData.familyOn
                                            if detail.category === 'Family'
                                                option(selected) Family
                                            else
                                                option Family
                                         if pageData.otherOn
                                            if detail.category === 'Other'
                                                option(selected) Other
                                            else
                                                option Other
                            .row.Mb-10.Fz-s
                                .col-xs-5.Ta-end.Fw-b Work/Play:
                                .col-xs-7.activityWorkPlay
                                    select.form-control(type='select', name='workplay', id='activityID*workplay')
                                        if detail.workplay === 'Play'
                                            option(selected) Play
                                        else
                                            option Play
                                        if detail.workplay === 'Work'
                                            option(selected) Work
                                        else
                                            option Work
                            .row.Mb-10.Fz-s
                                .col-xs-7.activityID
                                    input.form-control(type='text', style="display:none", name='activityID', id='activityID', value='#{detail.activityID}')
                            .row
                                .col-xs-6
                                    .btn.btn-default.cancelEdit
                                        span Cancel
                                .col-xs-6.Ta-end
                                    input(id='submitBtn',type='submit', value='Save').btn.btn-primary.edit
                    .activityDeletePane.Hidden
                        form(action='/delete', method='post', role='form')
                            .row
                                .col-xs-12.Fw-b.Fz-l Delete this activity?
                            .row.Mb-10.Fz-s
                                    .col-xs-7.activityID
                                        input.form-control(type='text', style="display:none", name='activityID', id='activityID', value='#{detail.activityID}')    
                            .row
                                .col-xs-6.Ta-end
                                    .btn.btn-default.cancelDelete
                                        span Cancel
                                .col-xs-6.Ta-start
                                    input(id='submitBtn',type='submit', value='Delete').btn.btn-danger.delete

    script.
        $('.editActivity').click(function (e) {
            e.preventDefault();
            //figure out what activity you are hiding / unhiding for based on id
            $('.activityInfo').addClass('Hidden');
            $('.activityEditFields').removeClass('Hidden');
        });
        $('.edit').click(function() {
           // $('.activityInfo').removeClass('Hidden');
            //$('.activityEditFields').addClass('Hidden');

            //do edit stuff after figuring out what activity being looked at
        });
        $('.cancelEdit').click(function() {
            $('.activityInfo').removeClass('Hidden');
            $('.activityEditFields').addClass('Hidden');
        });

        $('.deleteActivity').click(function (e) {
            e.preventDefault();
            //figure out what activity you are hiding / unhiding for based on id
            $('.activityInfo').addClass('Hidden');
            $('.activityDeletePane').removeClass('Hidden');
        });
        $('.delete').click(function() {
            //$('.activityInfo').removeClass('Hidden');
            //$('.activityDeletePane').addClass('Hidden');

            //do stuff to delete it here and then going to have to remove the item from the list
        
            //using this for now to simulate the activity got removed from html
            //$('#activityID').addClass('Hidden');
        });
        $('.cancelDelete').click(function() {
            $('.activityInfo').removeClass('Hidden');
            $('.activityDeletePane').addClass('Hidden');
        });
         $('#duration').on('input', function (e) {
            if ($('#duration').val() === '1' && $('#duration').val() !== '' && $('#minuteOption').val() === 'minutes') {
                $('#minuteOption').html('minute');
                $('#hourOption').html('hour');
            } else if ($('#duration').val() !== '1' && $('#duration').val() !== '' && $('#minuteOption').val() === 'minute') {
                $('#minuteOption').html('minutes');
                $('#hourOption').html('hours');
            }
        });

