extends layout

block content
    .page
        .pageHeading
            span.heading settings
        .pageContent
        .fields
                .row
                    .col-xs-12
                        form(action='/settings', method='post', role="form")
                            .form-group
                                label(for='activity').radioOption Categories
                                .row
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='work', name="work")
                                            label(for='work') Work
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='exercise', name="exercise")
                                            label(for='exercise') Exercise
                                .row
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='entertainment', name="entertainment")
                                            label(for='entertainment') Entertainment
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='school', name="school")
                                            label(for='school') School
                                .row
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='errands', name="errands")
                                            label(for='errands') Errands
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='family', name="family")
                                            label(for='family') Family
                                .row
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='social', name="social")
                                            label(for='social') Social
                                    .col-xs-6
                                        .checkbox
                                            input(type='checkbox', id='other', name="other")
                                            label(for='other') Other
                            .form-group
                                label(for='activity').radioOption Goals
                                .row
                                    .col-xs-6
                                        span.radioOption Work %
                                    .col-xs-6
                                        span.radioOption Play %
                                .row
                                    .col-xs-6
                                        input.form-control(type='number', min='0', name='workGoal', id='workGoal', value='#{pageData.workGoal}')
                                    .col-xs-6
                                        input.form-control(type='number', min='0', name='playGoal', id='playGoal', value='#{pageData.playGoal}')
                            .form-group
                                input(id='submitBtn', type='submit',value='Submit').btn.btn-primary.W-100
    script.
        $('#workGoal').on('input', function () {
            if (parseInt($('#workGoal').val())) {
                $('#playGoal').val(100 - $('#workGoal').val());
            }
        });
        $('#playGoal').on('input', function () {
            if (parseInt($('#playGoal').val())) {
                $('#workGoal').val(100 - $('#playGoal').val());
            }
        });
        $(function() {
            if (#{pageData.work}) {
                $('#work').attr('checked', true);
            }
            if (#{pageData.entertainment}) {
                $('#entertainment').attr('checked', true);
            }
            if (#{pageData.exercise}) {
                $('#exercise').attr('checked', true);
            }
            if (#{pageData.errands}) {
                $('#errands').attr('checked', true);
            }
            if (#{pageData.school}) {
                $('#school').attr('checked', true);
            }
            if (#{pageData.family}) {
                $('#family').attr('checked', true);
            }
            if (#{pageData.social}) {
                $('#social').attr('checked', true);
            }
            if (#{pageData.other}) {
                $('#other').attr('checked', true);
            }
        });
