extends layout

block content
    .page
        .pageHeading
            span.heading statistics
            span.subheading
                //- a(href="calendar").link This week
                    span.glyphicon.glyphicon-chevron-right
        .pageContent
            .statistics
                .stat In the past 7 days...
                if pageData.totalPercentAway == -1
                    .stat You haven't done any activities lately. Add some to get started!
                else if pageData.totalPercentAway == 0
                    .stat You are at your goal of #{pageData.workGoal}% work and #{pageData.playGoal}% play! Way to balance!
                    .stat You have been doing a lot of #{pageData.bestActivity}. #{pageData.activityPercent}% of your activities were #{pageData.bestActivity}! 
                    .stat You did the most of your "#{pageData.longestActivityName}" activity.
                else
                    .stat You are #{pageData.totalPercentAway}% away from reaching your goal of #{pageData.workGoal}% work and #{pageData.playGoal}% play! Currently you are at #{pageData.currentWorkGoal}% work and #{pageData.currentPlayGoal}% play.
                    .stat You have been doing a lot of #{pageData.bestActivity}. #{pageData.activityPercent}% of your activities were #{pageData.bestActivity}! 
                    .stat You did the most of your "#{pageData.longestActivityName}" activity.