extends layout

block content
    .page
        .pageHeading
            span.heading work/play
            span.subheading
                a(href="/calendar/workplay").link #{pageData.wpDate}
                    span.glyphicon.glyphicon-chevron-right
        .pageContent
            canvas#canvas(height="500px", width="500px")
            table.table.table-condensed.table-striped#doughnutTable
                tr
                    td
                        .color(style='background-color: #69D2E7;')
                    td.percent #{pageData.workPercent}%
                    td.category.Ta-start Work
                    td.category.Ta-start
                        a(href="/details/workplay/work").link
                            span.glyphicon.glyphicon-list
                tr
                    td
                        .color(style='background-color: #F38630;')
                    td.percent #{pageData.playPercent}%
                    td.category.Ta-start Play
                    td.category.Ta-start
                        a(href="/details/workplay/play").link
                            span.glyphicon.glyphicon-list
            .stat.Fz-xs.Ta-start
                span.glyphicon.glyphicon-info-sign.Mend-4
                span This pie graph displays the balance between all of your activities based on the work and play labels.

    script.
        var pieData = [
                    {
                        value: #{pageData.playGraph},
                        color:"#F38630"
                    },
                    {
                        value : #{pageData.workGraph},
                        color : "#69D2E7"
                    }
                
                ];

        var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData);

        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');

        function resize() {
            // Our canvas must cover full height of screen
            // regardless of the resolution
            var width = window.innerWidth - 50;
            
            // So we need to calculate the proper scaled width
            // that should work well with every resolution
            var ratio = canvas.height/canvas.width;
            var height = width * ratio;

            if (width > 500 || height > 500) {
                width = 500;
                height = 500;
            }
            
            canvas.style.width = width+'px';
            canvas.style.height = height+'px';
        }

        window.addEventListener('load', resize, false);
        window.addEventListener('resize', resize, false);